@import "tailwindcss";


.black_bg {
  background-color: #0b0b19;
}

.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.oxanium-bold {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE & Edge */
}

.scroll-fade {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}
